/* Home: Followers feed */
#dashboard::before {
    content: "♥︎";
    text-align: center;
    display: block;
    font-size: 4rem;
    color: rgba(165, 165, 165, 0.721569);
    padding: 40px;
}

#dashboard > div.news.column.two-thirds {
    display: none !important;
}

#dashboard .dashboard-sidebar {
    width: 100% !important;
}

#dashboard .boxed-group {
    margin-top: 100px !important;
    width: 49% !important;
    display: inline-block !important;
    vertical-align: top !important;
}

#dashboard .subscribe-feed {
    display: block !important;
}

/* User profile: Contributions */
#js-pjax-container > div > div > div.column.three-fourths > div.tab-content.js-repo-filter > div > div.boxed-group.flush {
    opacity: 0.5 !important;
}

/* User profile: Contributions calendar and streak */
.overview-tab .boxed-group:nth-child(2) > h3 {
    color: lightgrey !important;
}

#contributions-calendar .js-calendar-graph-svg,
#contributions-calendar .contrib-footer{
    display: none !important;
}

#contributions-calendar .calendar-graph::after {
    display: block;
    font-size: 2rem;
    padding-top: 32px;
    content: "♥︎";
    color: rgba(165, 165, 165, 0.72);
}