/* Home: Followers feed */
#dashboard > div.news.column.two-thirds {
    visibility: hidden !important;
}

/* User profile: Contributions */
#js-pjax-container > div > div > div.column.three-fourths > div.tab-content.js-repo-filter > div > div.boxed-group.flush {
    opacity: 0.5 !important;
}

/* User profile: Contributions calendar and streak */
.overview-tab .boxed-group:nth-child(2) > h3 {
    color: lightgrey !important;
}

#contributions-calendar .js-calendar-graph-svg,
#contributions-calendar .contrib-footer{
    display: none !important;
}

#contributions-calendar .calendar-graph::after {
    display: block;
    font-size: 2rem;
    padding-top: 32px;
    content: "♥︎";
    color: rgba(165, 165, 165, 0.72);
}